.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: initial;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.header {
  height: 100px;
  width: 100%;
  position: relative;
}

.iconContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color:#FF6112;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.cardText {
  font-size: 16px;
  line-height: 18px;
}

.button {
  height: 36px;
  font-size: 16px;
  background-color: #EEEEEE;
  color: #FF5500;
  border-radius: 20px;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  background-color: #e2e2e2;
}
